#root
    position absolute
    background-color #a5a5a5
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center

.onclick
    cursor pointer

.select
    border 2px solid
    background-color #2e5bff
    color white

.datetimebox
    position relative
    padding 5px
    width 200px
    height 200px
    background-color #ffffff
    overflow-x auto
    overflow-y hidden

.year-month
    padding: 5px 0

.yearselect
    display flex
    flex-flow column
    overflow-x hidden
    overflow-y auto
    height inherit

.year
    background-color #b9b9b9
    border-bottom 1px #a5a5a5 solid
    padding 4px 4px

.monthselect
    display flex
    flex-wrap wrap
    background-color white
    justify-content space-around

.month
    width 20%
    height 30px
    display flex
    justify-content center
    align-items center
    border 2px solid white

.month:hover
    background-color #a1c9da

.date
    margin 5px 0
    display flex
    flex-wrap nowrap
    justify-content space-around

.date > *
    padding 2px
    