#root
    position absolute
    background-color #a5a5a5
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center

.onclick
    cursor pointer

.select
    background-color #2e5bff
    color white

.datetimeinput
    background-color white
    border 1px solid
    width fit-content
    padding 2px
    > input
        background none
        border none
        width 1em
        margin 0 2px
        +label
            display none
    > select
        background none
        border none
        text-align center
    > input::-webkit-outer-spin-button,
    > input::-webkit-inner-spin-button 
        -webkit-appearance none
        margin 0
    > input[type=number]
        -moz-appearance textfield
    > input.alert
        box-shadow: inset 0 0 5px #ff4343
        border 1px solid #ff4343
        border-radius: 5px
        + label
            display inline-block
            position absolute
            z-index 1
            > .border
                width 200px
                height 40px
                text-align center
                background #fff
                position relative
                margin-top 2rem
                right 1.5rem
                display flex
                filter drop-shadow(0 0 0.3rem black)
                align-items center
                border-radius 5px
                > span.arrowout
                    width 0px
                    height 0px
                    border-width 15px
                    border-style solid
                    border-color transparent transparent #fff transparent
                    position absolute
                    top -1.7rem
                    transform scale(0.5, 0.9)

    > input.alert:focus + label
        display none

.yearinput
    width 2em !important

.datetime
    display flex
    flex-wrap nowrap
    filter drop-shadow(0 0 0.3rem #555)

.datebox
    position relative
    padding 5px
    width 250px
    height 300px
    background-color #ffffff
    overflow-x auto
    overflow-y hidden
    border-right 1px #a5a5a5 solid

.timebox
    position relative
    padding 5px
    width 200px
    height 300px
    background-color #ffffff
    overflow-x auto
    overflow-y hidden
    display flex
    flex-wrap nowrap
    justify-content space-evenly

.box-title
    display flex
    align-items center

.year-month
    padding 5px 0
    margin 3px 0
    font-weight bold
    width fit-content

.month-btns
    display inline-flex
    position absolute
    right 5px

.month-btns > *
    width 25px
    height 25px
    display flex
    justify-content center
    align-items center

.yearselect
    display flex
    flex-flow column
    overflow-x hidden
    overflow-y auto
    height 90%
    scrollbar-color #888
    scrollbar-width thin

::-webkit-scrollbar
    width 8px

::-webkit-scrollbar-thumb
  background #888

::-webkit-scrollbar-thumb:hover
  background #555

.year
    background-color #b9b9b9
    border-bottom 1px #a5a5a5 solid
    padding 4px 4px

.monthselect
    display flex
    flex-wrap wrap
    background-color white
    justify-content space-around

.month
    width 20%
    height 30px
    display flex
    justify-content center
    align-items center
    border 2px solid white

.hover:hover
    background-color #a1c9da

.week
    display flex
    flex-wrap wrap
    justify-content space-around

.week > *
    width 25px
    height 25px
    padding 3px
    display flex
    justify-content center
    align-items center

.greydate
    color grey

.today
    color #2e5bff
    font-weight bold
    position absolute
    bottom 10px
    right 10px

.scroll
    overflow hidden auto
    height inherit

.hour,
.minute,
.ampm
    width 30%
    scrollbar-color #888888
    scrollbar-width thin


.hour::-webkit-scrollbar,
.minute::-webkit-scrollbar,
.ampm::-webkit-scrollbar
    width 5px

.timeitem
    height 30px
    display flex
    justify-content center
    align-items center
    border 2px solid white